@media screen and (max-width: 320px) {
  body {
    width: 100%;
    overflow: hidden;
  }

  .header-bg {
    background-image: url(../asesst/image/mobile-bg.webp);
  }

  .btn-hidden {
    visibility: hidden;
  }

  .section1 h1 {
    /* bottom: 50px; */
  }

  .order {
    visibility: hidden;
  }
}
